main {

    display: flex;

    justify-content: center;

}

table {

    max-width: 100%;

}

tr:nth-child(odd) {

    background-color: #eee;

}

th {

    background-color: #555;

    color: #fff;

}

th,
td {

    text-align: left;

    padding: 0.5em 1em;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}
 

